alurapic/.tmp
alurapic/.DS_Store
alurapic/.DS_Store?
alurapic/.dpl/
alurapic/./vscode
alurapic/client/.vscode
alurapic/server/.vscode
alurapic/server/node_modules
alurapic/client/node_modules
alurapic/client/typings
alurapic/client/app/**/*.js
alurapic/client/app/**/*.map
alurapic/client/npm-debug.log
alurapic/server/npm-debug.log