<div class="container">

    <h2>Cadastrar Foto</h2>

    <h3>{{foto.titulo}}</h3>

    <!-- Parecido com o onsubmit do js puro -->
    <!-- Diretiva do angular para chamar o metodo que está no CadastroComponent -->
    <!-- É um One Way Data Binding da view pro model -->

    <!-- Validation - template oriented -->
    <!-- <form #meuForm="ngForm" class="row" (submit)="cadastrar($event)"> -->

    <!-- Validation - model oriented -->
    <form [formGroup]="meuForm"  class="row" (submit)="cadastrar($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <!-- Associacao via one way data binding da view pro model para os objetos que estao na classe CadastroComponent
                e relacionados ao FotoComponent -->
                <!-- <input (input)="foto.titulo = $event.target.value" [value]="foto.titulo" class="form-control" autocomplete="off"> -->
                
                <!-- #titlo - variavel de template local -->
                <!-- Com ngModel -->
                <!-- Validation - template oriented -->
                <!-- <input required #titulo="ngModel" name="titulo" [(ngModel)]="foto.titulo" class="form-control" autocomplete="off"> -->
                
                <!-- Validation - model oriented -->
                <input [(ngModel)]="foto.titulo" formControlName="titulo" class="form-control" autocomplete="off">

                <div *ngIf="meuForm.controls.titulo.invalid">
                    <!-- Se a validacao foi verdadeira ou falsa -->
                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Titulo Obrigatório
                    </span>
                    <!-- Exibido apenas se o criterio do minlength for falso -->
                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        O título Deve ter no mínimo 4 caracteres.
                    </span>
                </div>

            </div>
            <div class="form-group">
                <label>URL</label>
                <!-- <input (input)="foto.url = $event.target.value" [value]="foto.url" class="form-control" autocomplete="off"> -->

                <!-- Com ngModel -->
                <!-- Validation - template oriented -->
                <!-- <input required #url="ngModel" name="url" [(ngModel)]="foto.url" class="form-control" autocomplete="off"> -->
                
                <!-- Validation - model oriented -->
                <input [(ngModel)]="foto.url" formControlName="url" class="form-control" autocomplete="off">

                <!-- <span *ngIf="url.invalid" class="form-control alert-danger">
                    URL Obrigatória
                </span> -->

                <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    URL Obrigatória
                </span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <!-- <textarea (input)="foto.descricao = $event.target.value" [value]="foto.descricao" class="form-control" autocomplete="off"></textarea> -->
               
                <!-- Com ngModel -->
                <!-- Validation - model oriented -->
                <!-- Não terá nenhuma validação sobre este campo, mas é preciso passar no Json de config da validacao, com [] -->
                <textarea [(ngModel)]="foto.descricao" formControlName="descricao" class="form-control" autocomplete="off"></textarea>
            </div>

            <!-- Validation - Template Oriented -->
            <!-- [disabled] - do modelo pra view -->
            <!-- <button type="submit" class="btn btn-primary" [disabled]="meuForm.form.invalid">
                Salvar
            </button> -->

            <!-- Validation - Model Oriented -->
            <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">
                Salvar
            </button>

            <!-- Como foi definido no app.routes, a rota em branco vai redirecionar para ListagemComponent -->
            <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
        <div class="col-md-6">
            <!-- One way data binding - do modelo atualize minha view -->
            <!-- tambem poderia usar angular expression com {{foto.url}}, por ex -->
            <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
        </div>
    </form>
</div>